{% extends "layout.twig" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h2>Deberían Trabajar Para Ti</h2>
    <p>Simple explotación de los datos publicados por la web <a href="http://www.congreso.es">http://www.congreso.es</a></p>
{% endblock %}